<mat-toolbar color="primary">
  <span>{{ 'MAIN.TITLE' | translate }}</span>
  <span class="fill-remaining-space"></span>
  <span>
    <button mat-button [matMenuTriggerFor]="menu">{{ 'MAIN.MENU' | translate }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="books" routerLinkActive="active">{{ 'MAIN.LINK_BOOKS' | translate }}</button>
      <button mat-menu-item routerLink="admin" routerLinkActive="active">{{ 'MAIN.LINK_ADMIN' | translate }}</button>
      <mat-divider></mat-divider>
      <button mat-menu-item [matMenuTriggerFor]="language">{{ 'MAIN.LINK_LANG' | translate }}</button>
    </mat-menu>
    <mat-menu #language="matMenu">
      <a mat-menu-item (click)="setLang('fr')" [ngClass]="{ 'checked': lang === 'fr'}">{{ 'MAIN.LANG_FR' | translate }}</a>
      <a mat-menu-item (click)="setLang('en')" [ngClass]="{ 'checked': lang === 'en'}">{{ 'MAIN.LANG_EN' | translate }}</a>
    </mat-menu>
  </span>
</mat-toolbar>
<mat-card>
    <router-outlet></router-outlet>
</mat-card>
