<form (ngSubmit)="onSave()" #bookForm="ngForm">
  <mat-card>
    <mat-card-title>
      {{ 'ADMIN.BOOK.HEADER' | translate }}
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput name="title" placeholder="{{ 'ADMIN.BOOK.TITLE' | translate }}" #title="ngModel" [(ngModel)]="book.title" required
          minlength="4">
        <mat-error *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
          <div *ngIf="title.errors.required">{{ 'ADMIN.BOOK.TITLE_REQUIRED' | translate }}</div>
          <div *ngIf="title.errors.minlength">{{ 'ADMIN.BOOK.TITLE_MINLENGTH' | translate }}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="{{ 'ADMIN.BOOK.AUTHOR' | translate }}" name="author" [(ngModel)]="authorId" ngDefaultControl required>
          <mat-option *ngFor="let author of authors$ | async" [value]="author.id">
            {{author.lastName}} {{author.firstName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!bookForm.form.valid">{{ 'ADMIN.SAVE' | translate }}</button>
    </mat-card-actions>
    <mat-card-footer *ngIf="message" [ngClass]="'error'">
      {{message | json}}
    </mat-card-footer>
  </mat-card>
</form>
